<template>
    <v-form v-if="isAuthenticated">
        <v-row
                align="center"
                justify="center"
        v-if="loadingCase === false">
            <div :style="{'height': `${windowSize.height-200}px`, 'width':`${0.9*windowSize.width}px`, 'overflow-y': 'scroll', 'overflow-x':'hidden'}">
                <v-container fluid :style="{'width':`${0.8*windowSize.width}px`, 'text-align': 'center'}">
                    <v-row justify="center">
                        <h2 style="text-align: center; padding-bottom: 25px; padding-top: 20px">
                            {{$t('bottom_nav')['new_case']}}</h2>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['is_covid']}}</p>
                    </v-row>
                    <v-row justify="center" align="center">
                        <v-radio-group v-model="covidPositive" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['lymphocytopenia']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="lymphocytopenia" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['crp']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="crp" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['ldh']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="ldh" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['esr']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="esr" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['d-dimer']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="dDimer" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['albumin']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="albumin" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row justify="center" align="center">
                        <p>{{$t('add_case')['hemoglobin']}}</p>
                    </v-row>
                    <v-row justify="center" align="center" style="padding-bottom: 25px">
                        <v-radio-group v-model="hemoglobin" row>
                            <v-radio :label="$t('add_case')['yes']" value="True" color="#57a99a"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                            <v-radio :label="$t('add_case')['no']" value="False" color="red"
                                     :on-icon="icons.mdiRadioboxMarked" :off-icon="icons.mdiRadioboxBlank"></v-radio>
                        </v-radio-group>
                    </v-row>

                    <v-row justify="center">
                        <v-slider
                                v-model="age"
                                thumb-label="always"
                                color="#57a99a"
                                height="20px"
                                track-color="#76dbd1"
                                :label="$t('add_case')['age']">

                        </v-slider>
                    </v-row>
                    <v-row justify="center" align="center">
                        <v-select
                                v-model="symptoms"
                                :items="items"
                                chips
                                :label="$t('add_case')['symptoms']"
                                multiple
                                color="#76dbd1"
                                item-color="#57a99a"
                                outlined
                        ></v-select>
                    </v-row>
                    <v-row>
                        <v-file-input
                                :label="$t('add_case')['x-ray']"
                                filled
                                color="#57a99a"
                                @change="saveFileXRay($event)"
                                :prepend-icon="icons.mdiCamera"
                        ></v-file-input>
                    </v-row>
                    <v-row>
                        <v-file-input
                                :label="$t('add_case')['ct_scan']"
                                filled
                                color="#57a99a"
                                @change="saveFileCt($event)"
                                :prepend-icon="icons.mdiCamera"
                        ></v-file-input>
                    </v-row>
                    <v-row>
                        <v-file-input
                                :label="$t('add_case')['other_files']"
                                filled
                                color="#57a99a"
                                @change="saveFileOther($event)"
                                :prepend-icon="icons.mdiFile"
                        ></v-file-input>
                    </v-row>
                    <v-row>
                        <v-btn
                                dark
                                block
                                color="#57a99a"
                                @click="submit"
                        >
                            <v-icon>{{icons.mdiPlus}}</v-icon>
                        </v-btn>
                    </v-row>
                </v-container>
            </div>
        </v-row>

        <div v-else>
            <v-progress-circular
                     :size="100"
                     :width="10"
                    indeterminate
                    color="#57a99a"
            >

            </v-progress-circular>
        </div>

        <v-dialog v-model="done" max-width="500">
            <v-card :style="{'font-family': fontFamily}" :dir="dir" id="alert">
                <v-card-title style="font-weight: bold">{{$t('add_case')['done_message']}}</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="reset">{{$t('add_case')['reset']}}</v-btn>
                    <v-btn color="green darken-1" text :to="`/${$i18n.locale}/`">{{$t('add_case')['done']}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>

    <div v-else>
        <v-container fluid style="padding: 50px">
            <v-row justify="center" align="center">
                <v-col cols="12" sm="12" lg="6" md="6">
                    <v-row align="center" justify="center">
                        <h1 style="text-align: center">{{$t('login_message')}}</h1>
                    </v-row>
                    <v-row align="center" justify="center" style="padding-top: 20px">
                        <v-btn :to="`/${this.$i18n.locale}/login`" color="#57a99a"
                               style="color: #ecf4f3; font-weight: bold">Login
                        </v-btn>
                    </v-row>
                </v-col>
                <v-col cols="12" sm="12" lg="6" md="6">
                    <v-img src="@/assets/Corona.png"></v-img>
                </v-col>

            </v-row>
        </v-container>
    </div>
</template>

<script>
    import {
        mdiCamera,
        mdiPlus,
        mdiFile,
        mdiRadioboxBlank,
        mdiRadioboxMarked
    } from '@mdi/js'

    export default {
        name: "AddCaseView",
        data: function () {
            return {
                windowSize: {
                    width: 0,
                    height: 0
                },
                icons: {
                    mdiCamera,
                    mdiPlus,
                    mdiFile,
                    mdiRadioboxBlank,
                    mdiRadioboxMarked
                },
                dir: this.$i18n.locale === 'en' ? 'ltr' : 'rtl',
                fontFamily: this.$i18n.locale === 'en' ? 'sans-serif' : 'iransans',
                name: '',
                age: 30,
                symptoms: [],
                ct: null,
                xRay: null,
                other: null,
                covidPositive: false,
                lymphocytopenia: false,
                crp: false,
                ldh: false,
                esr: false,
                dDimer: false,
                albumin: false,
                hemoglobin: false,
                loadingCase: false,
                error: false,
                done: false,


            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },

        methods: {
            reset() {
                this.name = '';
                this.age = 30;
                this.symptoms = [];
                this.ct = null;
                this.xRay = null;
                this.other = null;
                this.covidPositive = false;
                this.lymphocytopenia = false;
                this.crp = false;
                this.ldh = false;
                this.esr = false;
                this.dDimer = false;
                this.albumin = false;
                this.hemoglobin = false;
                this.loadingCase = false;
                this.error = false;
                this.done = false;
            },
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            saveFileXRay(event) {
                this.xRay = event;
            },
            saveFileCt(event) {
                this.ct = event;

            },
            saveFileOther(event) {
                this.other = event;
            },
            submit() {
                let self = this;
                self.loadingCase = true;
                let bodyFormData = new FormData();
                bodyFormData.set('added_by', self.userId);
                bodyFormData.set('age', self.age);
                bodyFormData.set('is_covid', self.covidPositive);
                bodyFormData.set('ldh', self.ldh);
                bodyFormData.set('d_dimer', self.dDimer);
                bodyFormData.set('lymphocytopenia', self.lymphocytopenia);
                bodyFormData.set('crp', self.crp);
                bodyFormData.set('esr', self.esr);
                bodyFormData.set('albumin', self.albumin);
                bodyFormData.set('hemoglobin', self.crp);
                if (self.ct !== null) {
                    bodyFormData.append('ct_scan', self.ct);
                }
                if (self.xRay !== null) {
                    bodyFormData.append('x_ray', self.xRay);
                }
                if (self.other !== null) {
                    bodyFormData.append('other_file', self.other);
                }
                self.$store.dispatch('PostCase', bodyFormData).then((resp) => {
                    let promises = [];
                    for (let i = 0; i < self.symptoms.length; i++) {
                        promises.push(self.$store.dispatch('PostSymptomCase', {
                            'case': resp.data.id,
                            'symptom': self.symptomsList[self.items.indexOf(self.symptoms[i])]['id']
                        }))
                    }
                    Promise.all(promises).then(() => {
                        self.loadingCase = false;
                        self.done = true;
                    })
                }).catch(() => {
                    self.error = true
                });
            },
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated
            },
            userId() {
                return this.$store.getters.getId
            },
            symptomsList() {
                return this.$store.getters.getSymptomsGetter
            },
            items() {
                var t = [];
                for (let i = 0; i < this.symptomsList.length; i++) {
                    t.push(this.symptomsList[i]['name'])
                }
                return t
            },
            locale() {
                return this.$store.state.user.locale
            }
        },
        watch: {
            locale(newVal) {
                if (newVal === 'en') {
                    this.fontFamily = 'sans-serif';
                    this.dir = 'ltr';
                }
                if (newVal === 'fa') {
                    this.fontFamily = 'iransans';
                    this.dir = 'rtl';
                }
            }
        }
    }
</script>

<style scoped>
    p {
        font-weight: bold;
        font-size: 20px;
    }
</style>