<template>
    <div style="background-color: #555151">
        <v-btn @click="streamTheCamera"></v-btn>
        <video playsinline autoplay></video>
    </div>
</template>

<script>
    import {ImageCapture} from 'image-capture'

    export default {
        name: "Camera",
        methods: {
            streamTheCamera() {
                const SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator;
                const blobToImage = (blob) => {
                    return new Promise(resolve => {
                        const url = URL.createObjectURL(blob)
                        let img = new Image()
                        img.onload = () => {
                            URL.revokeObjectURL(url)
                            resolve(img)
                        }
                        img.src = url;
                        console.log(img);
                    })
                }
                if (SUPPORTS_MEDIA_DEVICES) {
                    //Get the environment camera (usually the second one)
                    navigator.mediaDevices.enumerateDevices().then(devices => {

                        const cameras = devices.filter((device) => device.kind === 'videoinput');

                        if (cameras.length === 0) {
                            throw 'No camera found on this device.';
                        }
                        const camera = cameras[cameras.length - 1];

                        const video = document.querySelector('video');
                        // Create stream and get video track
                        navigator.mediaDevices.getUserMedia({
                            audio: false,
                            video: {
                                deviceId: camera.deviceId,
                                facingMode: ['user', 'environment'],
                                height: {ideal: 1080},
                                width: {ideal: 1920}
                            }
                        }).then(stream => {
                            var imageCapture;
                            const track = stream.getVideoTracks()[0];
                            imageCapture = new ImageCapture(track);
                            setInterval(function () {
                                imageCapture.takePhoto().then((frame) => {
                                       blobToImage(frame)
                                    }
                                ).catch(() => {
                                })
                            }, 1000 / (track.getSettings().frameRate - 5));

                            video.srcObject = stream;
                        });
                    });
                }
            }
        },
    }
</script>

<style scoped>

</style>