<template>
    <div id="myDiv" v-if="loading === false" style="padding: 30px">
        <template v-for="item in cases">
            <v-card :key="item.id" elevation="4" :color="item['is_covid'] ? '#9afcb6' : '#fc9a9a'" style="margin-top: 6px" @click="showBottomSheet(item)">
                <v-card-title>
                    {{item['is_covid'] ? $t('show_case')['have_covid'] : $t('show_case')['dont_have_covid']}}
                </v-card-title>
                <v-card-subtitle>
                    {{$t('show_case')['age']}}: {{item['age']}}
                </v-card-subtitle>
                <v-card-text>
                    <v-container>
                        <template v-if="item['symptoms'].length !== 0">
                            <v-row>
                                {{$t('show_case')['symptoms']}}:
                            </v-row>
                            <v-row>
                                <ul>
                                    <li v-for="symptom in item['symptoms']" :key="symptom['symptom_name']">
                                        {{symptom['symptom_name']}}
                                    </li>
                                </ul>
                            </v-row>
                        </template>
                        <v-row v-if="item['x_ray'] !== null">
                            {{$t('show_case')['have_x-ray']}}
                        </v-row>
                        <v-row v-if="item['ct_scan'] !== null">
                            {{$t('show_case')['have_ct_scan']}}
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-card>
        </template>
        <div class="text-center" style="padding-top:15px">
            <v-pagination
                    color="#57a99a"
                    :prev-icon="$i18n.locale === 'en' ? icons.mdiChevronLeft :icons.mdiChevronRight"
                    :next-icon="$i18n.locale === 'en' ? icons.mdiChevronRight :icons.mdiChevronLeft"
                    v-model="page"
                    :length="pageNumber"
                    circle
            ></v-pagination>
        </div>

        <v-bottom-sheet v-model="bottomSheet" fullscreen persistent scrollable>
            <ShowCompleteCase :width="windowSize.width" @close="bottomSheet = false"
                              :item="selectedItem"
                               style="overflow-y: scroll"/>
        </v-bottom-sheet>
    </div>

    <div v-else>
        <v-container fluid style="padding-top: 30%">
            <v-row justify="center" align="center">
                <v-progress-circular
                        :size="100"
                        :width="10"
                        indeterminate
                        color="#57a99a"
                >
                </v-progress-circular>
            </v-row>
        </v-container>

    </div>
</template>

<script>
    import {
        mdiChevronRight,
        mdiChevronLeft
    } from '@mdi/js'
    import ShowCompleteCase from "../components/ShowCompleteCase";

    export default {
        name: "CasesView",
        components: {ShowCompleteCase},
        data() {
            return {
                bottomSheet: false,
                page: 1,
                icons: {
                    mdiChevronRight,
                    mdiChevronLeft
                },
                loading: false,
                windowSize: {
                    width: 0,
                    height: 0
                },
                selectedItem: {},
            }
        },
        methods: {
            scrollToTop() {
                var myDiv = document.getElementById('myDiv');
                myDiv.scrollTop = 0;
            },
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            showBottomSheet(item){
                this.selectedItem = item;
                this.bottomSheet = true;
            }
        },
        created() {
            this.loading = true;
            this.$store.dispatch('getAndSetCases', 1).then(() => {
                this.loading = false;
            });
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        computed: {
            cases() {
                return this.$store.state.cases.cases
            },
            pageNumber() {
                return this.$store.state.cases.totalPage
            }
        },
        watch: {
            page(newVal) {
                this.loading = true;
                this.scrollToTop();
                this.$store.dispatch('getAndSetCases', newVal).then(() => {
                    this.loading = false;
                });

            }
        }
    }
</script>

<style scoped>

</style>