<template>
    <div>
        <v-container style="padding:0; width: 100%" fluid>
            <v-row style="background-color: #ecf4f3; padding: 12px">
                <v-col cols="12" sm="12" md="6" lg="8" style="text-align: center">
                    <h1 style="color: #555151">
                        {{$t('screening')['title']}}
                    </h1>
                    <v-divider></v-divider>
                    <p style="padding-top: 5px; font-size: 18px; font-weight: 400">
                        {{$t('screening')['desc_first']}}</p>

                    <p style="font-size: 18px; font-weight: 400">{{$t('screening')['desc_second']}}</p>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="4" align-self="center">
                    <v-btn
                            color="#57a99a"
                            block
                            large
                            @click="isAuthenticated ? sheetScreening = true : dialog = true"
                            style="color: #ecf4f3; font-weight: bold; font-size: 18px"
                    >
                        {{$t('screening')['start']}}
                    </v-btn>
                    <div style="height: 10px"></div>

                    <v-btn
                            color="#ecf4f3"
                            block
                            large
                            @click="isAuthenticated ? sheetResult = true : dialog = true"
                            style="color: #57a99a; font-weight: bold; font-size: 18px"
                    >
                        {{$t('screening')['previous_results']}}
                    </v-btn>
                </v-col>
            </v-row>
            <v-row style="padding: 20px; padding-top: 5px; padding-left: 36px">
                <h3 style="color: #555151">{{$t('home_page')['more_info']}}</h3>
            </v-row>
            <v-row>
                <v-col cols="12" sm="12" md="6" lg="6">
                    <v-list elevation="5" style="margin-left: 30px; margin-right: 30px;" nav max-width="800">
                        <v-list-item three-line @click="$router.push(`/${$i18n.locale}/about_covid`)" style="font-weight: bold; font-size: 18px">

                            <v-list-item-avatar>
                                <v-icon x-large color="yellow" dark>{{icons.mdiBug}}</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>{{$t('home_page')['covid_title']}}</v-list-item-title>
                                <v-list-item-subtitle class="wrap-text">{{$t('home_page')['covid_subtitle']}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-divider></v-divider>

                        <v-list-item three-line @click="$router.push(`/${$i18n.locale}/what_todo`)" style="font-weight: bold; font-size: 18px">

                            <v-list-item-avatar>
                                <v-icon x-large color="green" dark>{{icons.mdiCheckAll}}</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>{{$t('home_page')['our_action_title']}}</v-list-item-title>
                                <v-list-item-subtitle class="wrap-text">
                                    {{$t('home_page')['our_action_subtitle']}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-divider></v-divider>

                        <v-list-item three-line style="font-weight: bold; font-size: 18px" @click="$router.push(`/${$i18n.locale}/test_info`)">

                            <v-list-item-avatar>
                                <v-icon x-large color="blue" dark>{{icons.mdiTestTube}}</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>{{$t('home_page')['testing_title']}}</v-list-item-title>
                                <v-list-item-subtitle class="wrap-text">
                                    {{$t('home_page')['testing_subtitle']}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>


                    </v-list>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6">
                    <v-img src="@/assets/inside.png" height="400px" width="auto" contain></v-img>
                </v-col>
            </v-row>
        </v-container>
        <v-bottom-sheet v-model="sheetScreening" fullscreen persistent scrollable>
            <screening-bottom-sheet :width="windowSize.width" @close="sheetScreening = false"
                                    :height="windowSize.height" style="overflow-y: scroll" />
        </v-bottom-sheet>
        <v-bottom-sheet v-model="sheetResult" fullscreen persistent>
            <ResultBottomSheet :width="windowSize.width" @close="sheetResult = false" style="overflow-y: scroll" />
        </v-bottom-sheet>


        <v-dialog v-model="dialog" max-width="500">
            <v-card :style="{'font-family': fontFamily}" :dir="dir" id="alert">
                <v-card-title style="font-weight: bold">{{$t('login_dialog')['title']}}</v-card-title>
                <v-card-text>{{$t('login_dialog')['desc']}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="login">{{$t('login')['login']}}</v-btn>
                    <v-btn color="green darken-1" text @click="signup">{{$t('signup')['signup']}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import {
        mdiBug,
        mdiCheckAll,
        mdiTestTube
    } from '@mdi/js'
    import ScreeningBottomSheet from "../components/ScreeningBottomSheet";
    import ResultBottomSheet from "../components/ResultsBottomSheet";

    export default {
        name: 'Home',
        components: {ResultBottomSheet, ScreeningBottomSheet},
        data() {
            return {
                dialog: false,
                sheetScreening: false,
                sheetResult: false,
                dir: this.$i18n.locale === 'en' ? 'ltr': 'rtl',
                fontFamily: this.$i18n.locale === 'en' ? 'sans-serif': 'iransans',
                windowSize: {
                    width: 0,
                    height: 0
                },
                icons: {
                    mdiBug,
                    mdiCheckAll,
                    mdiTestTube
                }

            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            login() {
                this.dialog = false;
                this.$router.push(`/${this.$i18n.locale}/login`)
            },
            signup() {
                this.dialog = false;
                this.$router.push(`/${this.$i18n.locale}/signup`)
            }
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated
            },
            locale(){
                return this.$store.state.user.locale
            }
        },
        watch:{
            locale(newVal){
                if(newVal === 'en'){
                    this.fontFamily = 'sans-serif';
                    this.dir = 'ltr';
                }
                if(newVal === 'fa'){
                    this.fontFamily = 'iransans';
                      this.dir = 'rtl';
                }
            }
        }
    }
</script>
<style scoped>
    /deep/ .wrap-text {
        -webkit-line-clamp: unset !important;
    }
</style>
