<template>
    <div v-if="internetConnection === false">
         <v-row
                align="center"
                justify="center"
                :style="{'padding-top': `${windowSize.height*0.08}px`}">
            <div :style="{'height': `${windowSize.height-200}px`, 'width':`${0.9*windowSize.width}px`, 'overflow-y': 'scroll', 'overflow-x':'hidden'}">
                <v-container fluid :style="{'width':`${0.8*windowSize.width}px`, 'text-align': 'center'}">
                    <v-row>
                        <h1 style="color: #555151">{{$t('internet')}}</h1>
                        <v-btn @click="internetConnection = true" color="#57a99a" style="color: #ecf4f3; font-weight: bold; font-size: 18px" block>
                            {{$t('try_again')}}
                        </v-btn>
                    </v-row>
                </v-container>
            </div>
         </v-row>
    </div>
    <v-form v-else>
        <v-row
                align="center"
                justify="center"
                :style="{'padding-top': `${windowSize.height*0.08}px`}">
            <div :style="{'height': `${windowSize.height-200}px`, 'width':`${0.9*windowSize.width}px`, 'overflow-y': 'scroll', 'overflow-x':'hidden'}">
                <v-container fluid :style="{'width':`${0.8*windowSize.width}px`, 'text-align': 'center'}">
                    <v-row justify="center">
                        <h1 style="text-align: center; padding-bottom: 25px; padding-top: 20px; color: #57a99a">
                            {{$t('login')['login']}}</h1>
                    </v-row>
                     <v-row v-if="falseCredential">
                                <h3 style="color: red">{{$t('login')['incorrect']}}</h3>
                     </v-row>
                    <v-row>
                        <v-container fluid>
                            <v-row>
                                <p style="color: #555151; font-size: 18px; margin-bottom: 4px; font-weight: bold">
                                    {{$t('login')['username']}}</p>
                            </v-row>
                            <v-row>
                                <v-text-field
                                        v-model="username"
                                        :disabled="loading"
                                        filled
                                        color="#57a99a"
                                ></v-text-field>
                            </v-row>
                        </v-container>
                    </v-row>

                    <v-row>
                        <v-container fluid style="padding: 0">
                            <p style="color: #555151;font-size: 18px; margin-bottom: 4px; text-align: left; font-weight: bold">
                                {{$t('login')['password']}}</p>

                            <v-text-field
                                    v-model="password"
                                    :disabled="loading"
                                    filled
                                    color="#57a99a"
                                    type="password"
                            ></v-text-field>
                        </v-container>
                    </v-row>
                    <v-row align="center" justify="center">
                        <v-btn color="#57a99a" large block style="color: #ecf4f3; font-weight: bold" @click="login" :disabled="loading">
                            {{$t('login')['login']}}
                        </v-btn>
                    </v-row>
                    <v-row align="center" justify="center" style="padding-top: 15px">
                        <v-btn outlined color="#57a99a" small :to="`/${$i18n.locale}/signup`">
                            {{$t('signup')['signup']}}
                        </v-btn>
                    </v-row>
                </v-container>
            </div>
        </v-row>
    </v-form>
</template>

<script>
    import {AUTH_REQUEST} from "../store/actions/auth";

    export default {
        name: "LoginView",
        data: function () {
            return {
                windowSize: {
                    width: 0,
                    height: 0
                },
                username: "",
                password: "",
                internetConnection: true,
                loading: false,
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            if(this.$store.state.auth.token !== ''){
                this.$router.push(`/${this.$i18n.locale}/`)
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        computed: {
            status(){
                return this.$store.state.auth.status;
            },
            falseCredential(){
                return this.$store.state.auth.falseCredential;
            }
        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            login: function () {
                const {username, password} = this;
                this.loading = true;
                this.$store.dispatch(AUTH_REQUEST, {username, password}).then((resp) =>{
                    this.loading = false;
                    if(resp.data !== false) {
                        this.$router.push(`/${this.$i18n.locale}/`);
                    }
                }).catch(()=>{
                    this.loading = false;
                    this.internetConnection = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>