<template>
    <v-form>
        <v-row
                align="center"
                justify="center"
                :style="{'padding-top': `${windowSize.height*0.08}px`}">
            <div id="mydiv" :style="{'height': `${windowSize.height-200}px`, 'width':`${0.9*windowSize.width}px`, 'overflow-y': 'scroll', 'overflow-x':'hidden'}">
                <v-container fluid :style="{'width':`${0.8*windowSize.width}px`, 'text-align': 'center'}">
                    <v-row justify="center">
                        <h1 style="text-align: center; padding-bottom: 25px; padding-top: 20px; color: #57a99a">
                            {{$t('signup')['signup']}}</h1>
                    </v-row>
                    <v-row v-if="validation===false">
                        <h3 style="color: red">{{$t('signup')['exists']}}</h3>
                    </v-row>
                    <v-row>
                        <v-container fluid>
                            <v-row>
                                <p style="color: #555151; font-size: 18px; margin-bottom: 4px; font-weight: bold">
                                    {{$t('signup')['username']}}</p>
                            </v-row>
                            <v-row>
                                <v-text-field
                                        v-model="username"
                                        filled
                                        :rules="[v => !!v || $t('signup')['required']]"
                                        color="#57a99a"
                                ></v-text-field>
                            </v-row>
                        </v-container>
                    </v-row>
                    <v-container fluid>
                        <v-row>
                            {{$t('signup')['location_message']}}
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="12" lg="8" md="8">
                                <div>{{text}}</div>
                            </v-col>
                            <v-col cols="12" sm="12" lg="4" md="4">
                                <v-btn @click="geoFindMe" color="#57a99a" style="color: #ecf4f3">
                                    {{$t('signup')['get_location']}}
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-container fluid>
                        <v-row>
                            {{$t('signup')['role']}}
                        </v-row>
                        <v-row>
                            <v-select v-model="role"
                                      :items="[$t('signup')['role1'], $t('signup')['role2'], $t('signup')['role3']]"
                                      solo :rules="[v => !!v || $t('signup')['required']]"></v-select>
                        </v-row>
                    </v-container>
                    <v-row>
                        <v-container fluid style="padding: 0">
                            <p style="color: #555151;font-size: 18px; margin-bottom: 4px; text-align: left; font-weight: bold">
                                {{$t('signup')['password']}}</p>

                            <v-text-field
                                    v-model="password"
                                    ref="password"
                                    :rules="[v => !!v || $t('signup')['required']]" filled
                                    color="#57a99a"
                                    type="password"
                            ></v-text-field>
                        </v-container>
                    </v-row>

                    <v-row>
                        <v-container fluid style="padding: 0">
                            <p style="color: #555151;font-size: 18px; margin-bottom: 4px; text-align: left; font-weight: bold">
                                {{$t('signup')['re_password']}}</p>

                            <v-text-field
                                    v-model="password2"
                                    :disabled="isAuthenticating"
                                    :rules="passwordConfirmationRule"
                                    filled
                                    color="#57a99a"
                                    type="password"
                            ></v-text-field>
                        </v-container>
                    </v-row>


                    <v-row align="center" justify="center">
                        <v-btn color="#57a99a" large block style="color: #ecf4f3; font-weight: bold" @click="signup">
                            {{$t('signup')['signup']}}
                        </v-btn>
                    </v-row>

                    <v-row align="center" justify="center" style="padding-top: 15px">
                        <v-btn outlined color="#57a99a" small>
                            {{$t('login')['login']}}
                        </v-btn>
                    </v-row>
                </v-container>
            </div>
        </v-row>
    </v-form>
</template>

<script>
    import {SIGNUP_REQUEST} from "../store/actions/signup";

    export default {
        name: "SignupView",
        data: function () {
            return {
                windowSize: {
                    width: 0,
                    height: 0
                },
                isAuthenticating: false,
                username: "",
                password: "",
                password2: "",
                longitude: 0.0,
                latitude: 0.0,
                locationState: false,
                text: "",
                permission: false,
                role: "",
                validation: true

            }
        },
        computed: {
            passwordConfirmationRule() {
                return [(this.password === this.password2) || this.$t('signup')['match']]
            },
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
              if(this.$store.state.auth.token !== ''){
                this.$router.push(`/${this.$i18n.locale}/`)
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            scrollToTop() {
                var myDiv = document.getElementById('mydiv');
                myDiv.scrollTop = 0;
           },
            geoFindMe() {
                let self = this;

                function success(position) {
                    self.latitude = position.coords.latitude;
                    self.longitude = position.coords.longitude;
                    self.locationState = true;

                    self.text = '';
                }

                function error() {
                    self.text = self.$t('signup')['unable'];
                    self.locationState = false;
                }

                if (!navigator.geolocation) {
                    self.text = self.$t('signup')['browser_support'];
                    self.locationState = true;
                } else {
                    self.text = self.$t('signup')['locating'];
                    navigator.geolocation.getCurrentPosition(success, error)
                }

            },

            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            signup: function () {
                const {username, password, role, longitude, latitude} = this;
                let self = this;
                    let roleResult;
                    if (role === this.$t('signup')['role1']) {
                        roleResult = 'DOCTOR';
                    }
                    if (role === this.$t('signup')['role2']) {
                        roleResult = 'NURSE';
                    }
                    if (role === this.$t('signup')['role3']) {
                        roleResult = 'NONE';
                    }
                    this.$store.dispatch(SIGNUP_REQUEST, {
                        'username': username,
                        'password': password,
                        'position': roleResult,
                        'longitude': longitude,
                        'latitude': latitude
                    }).then((resp) => {
                        if(resp.data === 'Username Exists'){
                            self.validation = false;
                            self.scrollToTop();
                        }
                        else{
                            self.$router.push(`/${self.$i18n.locale}/`)
                        }
                        }
                    )

            }
        }
    }
</script>

<style scoped>

</style>