<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-btn  style="margin: 10px" dark :to="`/${$i18n.locale}/`">{{$t('back')}}</v-btn>
            </v-row>
            <v-row style="padding: 20px; padding-top: 10px">
                <h1>{{$t('test_info')['title']}}</h1>
            </v-row>
            <v-row justify="center" align="center">
                <v-list elevation="5" style="margin-left: 30px; margin-right: 30px;" nav max-width="800">
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="purple" dark>{{icons.mdiAccount}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('test_info')['first_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('test_info')['first_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="firstCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>
                        <v-divider></v-divider>
                     <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="#ff7f50" dark>{{icons.mdiFileDocument}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('test_info')['second_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('test_info')['second_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="secondCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>
                        <v-divider></v-divider>
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="green" dark>{{icons.mdiTextBoxSearch}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('test_info')['second_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('test_info')['second_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="thirdCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>

                       <v-divider></v-divider>
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="yellow" dark>{{icons.mdiClockOutline}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('test_info')['fourth_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('test_info')['fourth_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="fourthCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>

                </v-list>
            </v-row>
        </v-container>

        <v-bottom-sheet v-model="firstCard" fullscreen persistent>
            <WhoTest :width="windowSize.width" @close="firstCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="secondCard" fullscreen persistent>
            <HowTest :width="windowSize.width" @close="secondCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="thirdCard" fullscreen persistent>
            <ExpectTest :width="windowSize.width" @close="thirdCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="fourthCard" fullscreen persistent>
            <WaitTest :width="windowSize.width" @close="fourthCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>
    </div>
</template>

<script>
    import {
        mdiAccount,
        mdiFileDocument,
        mdiTextBoxSearch,
        mdiClockOutline
    } from '@mdi/js'
    import WhoTest from "../components/testInfo/WhoTest";
    import HowTest from "../components/testInfo/HowTest";
    import ExpectTest from "../components/testInfo/ExpectTest";
    import WaitTest from "../components/testInfo/WaitTest";

    export default {
        name: "TestView",
        components: {
            WaitTest,
            ExpectTest,
            HowTest,
            WhoTest,
        },
        data() {
            return {
                firstCard: false,
                secondCard: false,
                thirdCard: false,
                fourthCard: false,
                windowSize: {
                    width: 0,
                    height: 0
                },
                icons: {
                    mdiAccount,
                    mdiFileDocument,
                    mdiTextBoxSearch,
                    mdiClockOutline,
                }

            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
        }
    }
</script>

<style scoped>
    .wrap {
        -webkit-line-clamp: unset !important;
        white-space: normal;
        font-weight: bold;
        font-size: 18px;
    }
</style>