<template>
    <div style="padding:30px">
        <v-container fluid>
            <v-row justify="center" align="center" style="margin-bottom: 20px">
                <h1>{{$t('covid_tracker')['title']}}</h1>
            </v-row>
            <v-row>
                <v-col lg="5" md="5" sm="12" cols="12" v-if="status === 'true' || status === 'loading' ">
                    <v-row align="center" justify="center">
                        <h2 style="color: #555151">{{$t('covid_tracker')['totalConfirmed']}}</h2>
                    </v-row>
                    <v-row align="center" justify="center">
                        <h2 style="color: rgb(205, 70, 34)" v-if="status === 'true'">
                            {{worldStat['totalConfirmed']}}</h2>
                        <v-skeleton-loader
                                ref="skeleton"
                                :boilerplate="false"
                                type="chip"
                                :tile="false"
                                class="mx-auto"
                                v-if="status === 'loading'"
                        ></v-skeleton-loader>
                    </v-row>
                    <v-row align="center" justify="center">
                        <h3 style="color: #555151">
                            {{$t('covid_tracker')['totalRecovered']}}
                        </h3>
                    </v-row>
                    <v-row align="center" justify="center">
                        <h3 style="color: green" v-if="status === 'true'">{{worldStat['totalRecovered']}}</h3>
                        <v-skeleton-loader
                                ref="skeleton"
                                :boilerplate="false"
                                type="chip"
                                :tile="false"
                                class="mx-auto"
                                v-if="status === 'loading'"
                        ></v-skeleton-loader>
                    </v-row>

                    <v-row align="center" justify="center">
                        <h3 style="color: #555151">
                            {{$t('covid_tracker')['totalDeaths']}}
                        </h3>
                    </v-row>
                    <v-row align="center" justify="center">
                        <h3 style="color: black" v-if="status === 'true'">{{worldStat['totalDeaths']}}</h3>

                        <v-skeleton-loader
                                ref="skeleton"
                                :boilerplate="false"
                                type="chip"
                                :tile="false"
                                class="mx-auto"
                                v-if="status === 'loading'"
                        ></v-skeleton-loader>
                    </v-row>
                </v-col>

                <v-col lg="5" md="5" sm="12" cols="12" v-else>
                    <div>You Are Not Connected To Internet</div>

                </v-col>
                <v-col lg="7" md="7" sm="12" cols="12">
                    <world-chart v-if="statusChart === 'true'"/>
                    <v-skeleton-loader
                            ref="skeleton"
                            :boilerplate="false"
                            type="image"
                            :tile="false"
                            class="mx-auto"
                            v-if="statusChart === 'loading'"
                    ></v-skeleton-loader>

                </v-col>
            </v-row>
            <v-row>
                <v-skeleton-loader
                            ref="skeleton"
                            :boilerplate="false"
                            type="table"
                            :tile="false"
                            class="mx-auto"
                            v-if="status === 'loading'"
                    ></v-skeleton-loader>
                <country-show/>
            </v-row>
        </v-container>
    </div>
</template>


<script>
    // @ is an alias to /src

    import {AUTH_LOGOUT} from "../store/actions/auth";
    import WorldChart from "../components/WorldChart";
    import CountryShow from "../components/CountryShow";
    // import { mapState } from 'vuex';
    export default {
        name: 'TrackerView',
        components: {
            WorldChart,
            CountryShow
        },

        methods: {
            logout: function () {
                this.$store.dispatch(AUTH_LOGOUT)
                    .then(() => {
                        this.$router.push(`/${this.$i18n.locale}/login`)
                    })
            }
        },
        computed: {
            statusChart() {
                return this.$store.state.statistics.statusChart
            },
            status() {
                return this.$store.state.statistics.statusStat
            },
            worldStat() {
                return this.$store.state.statistics.worldStat
            },
            countryStat() {
                return this.$store.state.statistics.countryStat
            },

        },

    }
</script>
<style scoped>
    div {
        overflow-y: scroll;
    }

    /deep/ .v-application .blue--text {
        color: #57a99a;
        caret-color: #57a99a;
    }
</style>