<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-btn  style="margin: 10px" dark :to="`/${$i18n.locale}/`">{{$t('back')}}</v-btn>
            </v-row>
            <v-row style="padding: 20px; padding-top: 10px">
                <h1>{{$t('what_can_you_do')['title']}}</h1>
            </v-row>
            <v-row justify="center" align="center">
                <v-list elevation="5" style="margin-left: 30px; margin-right: 30px;" nav max-width="800">
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="#ff7f50" dark>{{icons.mdiHandWater}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('what_can_you_do')['first_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('what_can_you_do')['first_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="firstCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>
                        <v-divider></v-divider>
                     <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="blue" dark>{{icons.mdiAccountSwitchOutline}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('what_can_you_do')['second_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('what_can_you_do')['second_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="secondCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>
                        <v-divider></v-divider>
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="green" dark>{{icons.mdiMapMarkerDistance}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('what_can_you_do')['third_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('what_can_you_do')['third_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="thirdCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>

                       <v-divider></v-divider>
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="red" dark>{{icons.mdiCoolantTemperature}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('what_can_you_do')['fourth_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('what_can_you_do')['fourth_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="fourthCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>

                       <v-divider></v-divider>
                    <v-list-item three-line>

                        <v-list-item-avatar>
                            <v-icon x-large color="yellow" dark>{{icons.mdiStarOutline}}</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="wrap">{{$t('what_can_you_do')['fifth_card']['title']}}
                            </v-list-item-title>
                            <v-list-item-subtitle class="wrap">{{$t('what_can_you_do')['fourth_card']['subtitle']}}
                            </v-list-item-subtitle>
                            <v-card-actions>
                                <v-btn text @click="fifthCard = true"
                                       color="#57a99a"
                                       style=" font-weight: bold;font-size: 13px;">
                                    {{$t('learn_more')}}
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>

                </v-list>
            </v-row>
        </v-container>

        <v-bottom-sheet v-model="firstCard" fullscreen persistent>
            <washing-hands :width="windowSize.width" @close="firstCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="secondCard" fullscreen persistent>
            <social-distancing :width="windowSize.width" @close="secondCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="thirdCard" fullscreen persistent>
            <isolation :width="windowSize.width" @close="thirdCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="fourthCard" fullscreen persistent>
            <monitoring :width="windowSize.width" @close="fourthCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>

          <v-bottom-sheet v-model="fifthCard" fullscreen persistent>
            <cleaning :width="windowSize.width" @close="fifthCard = false" style="overflow-y: scroll"/>
        </v-bottom-sheet>
    </div>
</template>

<script>
    import {
        mdiStarOutline,
        mdiAccountSwitchOutline,
        mdiCoolantTemperature,
        mdiHandWater,
        mdiMapMarkerDistance
    } from '@mdi/js'
    import WashingHands from "../components/whatToDo/washingHands";
    import SocialDistancing from "../components/whatToDo/socialDistancing";
    import Monitoring from "../components/whatToDo/monitoring";
    import Isolation from "../components/whatToDo/isolation";
    import Cleaning from "../components/whatToDo/cleaning";

    export default {
        name: "WhatCanYouDoView",
        components: {
            Cleaning,
            Isolation,
            Monitoring,
            SocialDistancing,
            WashingHands
        },
        data() {
            return {
                firstCard: false,
                secondCard: false,
                thirdCard: false,
                fourthCard: false,
                fifthCard: false,
                windowSize: {
                    width: 0,
                    height: 0
                },
                icons: {
                    mdiStarOutline,
                    mdiAccountSwitchOutline,
                    mdiCoolantTemperature,
                    mdiHandWater,
                    mdiMapMarkerDistance
                }

            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
        }
    }
</script>

<style scoped>
    .wrap {
        -webkit-line-clamp: unset !important;
        white-space: normal;
        font-weight: bold;
        font-size: 18px;
    }
</style>