<template>
    <v-sheet height="100%" elevation="10"
             :style="{'font-family': $i18n.locale === 'en' ? 'sans-serif' : 'iransans', 'font-size':'18px', 'font-weight': 'bold'}"
             :dir="$i18n.locale === 'en' ? 'ltr' : 'rtl'">
       <v-btn
                absolute
                color="#555151"
                x-small
                fab
                :style="{'color': '#ecf4f3', 'left': `${width-35}px`}"
                @click="$emit('close')"
        >
            <v-icon>{{icons.mdiClose}}</v-icon>
        </v-btn>
        <div style="margin:30px">
            <div>
                <v-icon color="#ff7f50" dark x-large>{{icons.mdiFileDocument}}</v-icon>
                <h1>{{$t('test_info')['second_card']['title']}}</h1>
                <p>{{$t('test_info')['second_card']['body_first']}}</p>
                <h2>{{$t('test_info')['second_card']['body_second_title']}}</h2>
                <p>{{$t('test_info')['second_card']['body_second']}}</p>
                <p>{{$t('test_info')['second_card']['body_third']}}</p>
                <p>{{$t('test_info')['second_card']['body_fourth']}}</p>
                <p>{{$t('test_info')['second_card']['body_fifth']}}</p>


            </div>
        </div>

    </v-sheet>
</template>

<script>
    import {
        mdiClose,
        mdiFileDocument
    } from '@mdi/js'

    export default {
        name: "HowTest",
        props: {
            width: {
                required: true,
                type: Number,
            }
        },
        data() {
            return {
                icons: {
                    mdiClose,
                    mdiFileDocument
                }
            }
        }
    }
</script>

<style scoped>

</style>