<template>
    <v-bottom-navigation
            v-model="bottomTab"
            shift
            dark
            height="50px"
            color="#ecf4f3"
    >
        <v-btn :value="0">
            <span style="padding-top: 2px; font-weight: bold">{{$t('bottom_nav')['home']}}</span>
            <v-icon>{{icons.mdiHome}}</v-icon>
        </v-btn>

        <v-btn :value="1">
            <span style="padding-top: 2px; font-weight: bold">{{$t('bottom_nav')['tracker']}}</span>
            <v-icon>{{icons.mdiTrendingUp}}</v-icon>
        </v-btn>

        <v-btn :value="2">
            <span style="padding-top: 2px; font-weight: bold">{{$t('bottom_nav')['new_case']}}</span>
            <v-icon>{{icons.mdiHospitalBox}}</v-icon>
        </v-btn>

        <v-btn :value="3">
            <span style="padding-top: 2px; font-weight: bold">{{$t('bottom_nav')['submitted_cases']}}</span>
            <v-icon>{{icons.mdiHospitalBuilding}}</v-icon>
        </v-btn>

    </v-bottom-navigation>
</template>

<script>
    import mapState from 'vuex'
    import {
        mdiHospitalBuilding,
        mdiHospitalBox,
        mdiHome,
        mdiTrendingUp
    } from '@mdi/js'

    export default {
        name: "BottomNav",
        data() {
            return {
                bottomTab: 0,
                icons: {
                    mdiHospitalBuilding,
                    mdiHospitalBox,
                    mdiHome,
                    mdiTrendingUp,

                }
            }
        },
        watch: {
            bottomTab: function (newVar) {
                if (newVar === 0) {
                    this.$router.push(`/${this.$i18n.locale}/`)
                }
                if (newVar === 1) {
                    this.$router.push(`/${this.$i18n.locale}/tracker`)
                }
                if (newVar === 2) {
                    this.$router.push(`/${this.$i18n.locale}/new_case`)
                }
                if (newVar === 3) {
                    this.$router.push(`/${this.$i18n.locale}/cases`)
                }

            }
        },
        computed: {
            ...mapState['bottomTab']
        }
    }
</script>

<style scoped>

</style>