<template>
    <v-container fluid>
        <v-data-iterator
                :items="items"
                :items-per-page.sync="itemsPerPage"
                :page="page"
                :search="search"
                :sort-by="sortByComputed"
                :sort-desc="sortDesc"
                hide-default-footer
        >
            <template v-slot:header>
                <v-toolbar
                        dark
                        color="#57a99a"
                        class="mb-1"
                >
                    <v-text-field
                            v-model="search"
                            clearable
                            flat
                            solo-inverted
                            hide-details
                            :prepend-inner-icon="icons.mdiMagnify"
                            :label="$t('search')"
                    ></v-text-field>
                    <template v-if="$vuetify.breakpoint.mdAndUp">
                        <v-spacer></v-spacer>
                        <v-select
                                v-model="sortBy"
                                flat
                                solo-inverted
                                hide-details
                                :items="sortKeys"
                                :prepend-inner-icon="icons.mdiSortReverseVariant"
                                :label="$t('sort')"
                        ></v-select>
                        <v-spacer></v-spacer>
                        <v-btn-toggle
                                v-model="sortDesc"
                                mandatory
                        >
                            <v-btn
                                    large
                                    depressed
                                    color="#76dbd1"
                                    :value="false"
                            >
                                <v-icon>{{$i18n.locale === 'en' ? icons.mdiArrowDown : icons.mdiArrowUp}}</v-icon>
                            </v-btn>
                            <v-btn
                                    large
                                    depressed
                                    color="#76dbd1"
                                    :value="true"
                            >
                                <v-icon>{{$i18n.locale === 'en' ? icons.mdiArrowUp : icons.mdiArrowDown}}</v-icon>

                            </v-btn>
                        </v-btn-toggle>
                    </template>
                </v-toolbar>
            </template>

            <template v-slot:default="props">
                <v-row>
                    <v-col
                            v-for="item in props.items"
                            :key="item.name"
                            cols="12"
                            sm="6"
                            md="4"
                            lg="3"
                    >
                        <v-card>
                            <v-card-title class="subheading font-weight-bold">{{ item.name }}</v-card-title>

                            <v-divider></v-divider>

                            <v-list dense>
                                <v-list-item
                                        v-for="(key, index) in filteredKeys"
                                        :key="index"
                                >
                                    <v-list-item-content :class="{ 'blue--text': sortBy === key }">{{
                                        $t('covid_tracker')[key]}}:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'blue--text': sortBy === key }">{{
                                        item[key] }}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-col>
                </v-row>
            </template>

            <template v-slot:footer>
                <v-row class="mt-2" align="center" justify="center">

                    <v-spacer></v-spacer>

                    <span
                            class="mr-4
            grey--text"
                    >
            {{$t('page')}} {{ page }} {{$t('of')}} {{ numberOfPages }}
          </span>
                    <v-btn
                            fab
                            dark
                            color="#57a99a"
                            class="mr-1"
                            @click="formerPage"
                    >
                        <v-icon>{{$i18n.locale === 'en' ? icons.mdiChevronLeft :icons.mdiChevronRight}}</v-icon>
                    </v-btn>
                    <v-btn
                            fab
                            dark
                            color="#57a99a"
                            class="ml-1"
                            @click="nextPage"
                    >
                        <v-icon>{{$i18n.locale === 'en' ? icons.mdiChevronRight :icons.mdiChevronLeft}}</v-icon>
                    </v-btn>
                </v-row>
            </template>
        </v-data-iterator>
    </v-container>
</template>

<script>
    import {
        mdiArrowUp,
        mdiArrowDown,
        mdiChevronRight,
        mdiChevronLeft,
        mdiChevronDown,
        mdiMagnify,
        mdiSortReverseVariant

    } from "@mdi/js"

    export default {
        name: "CountryShow",
        data() {
            return {
                search: '',
                filter: {},
                sortDesc: true,
                page: 1,
                itemsPerPage: 8,
                icons: {
                    mdiArrowUp,
                    mdiArrowDown,
                    mdiChevronRight,
                    mdiChevronLeft,
                    mdiChevronDown,
                    mdiMagnify,
                    mdiSortReverseVariant
                },
                sortBy: 'totalConfirmed',
                keys: [
                    "totalConfirmed",
                    "totalRecovered",
                    "totalDeaths",

                ],
                sortKeys: [
                    this.$t('covid_tracker')["totalConfirmed"],
                    this.$t('covid_tracker')["totalRecovered"],
                    this.$t('covid_tracker')["totalDeaths"],
                ],
            }
        },
        computed: {
            sortByComputed() {
                if (this.sortBy === this.$t('covid_tracker')["totalConfirmed"]) {
                    return "totalConfirmed"
                }
                if (this.sortBy === this.$t('covid_tracker')["totalDeaths"]) {
                    return "totalDeaths"
                }
                if (this.sortBy === this.$t('covid_tracker')["totalRecovered"]) {
                    return "totalRecovered"
                } else {
                    return 'totalConfirmed'
                }
            },
            locale() {
                return this.$store.state.user.locale
            },
            items() {
                return this.$store.state.statistics.countryStat
            },
            numberOfPages() {
                return Math.ceil(this.items.length / this.itemsPerPage)
            },
            filteredKeys() {
                return this.keys.filter(key => key !== `Name`)
            },
        },
        methods: {
            nextPage() {
                if (this.page + 1 <= this.numberOfPages) this.page += 1
            },
            formerPage() {
                if (this.page - 1 >= 1) this.page -= 1
            },

        },
        watch: {
            locale() {
                this.sortKeys = [
                    this.$t('covid_tracker')["totalConfirmed"],
                    this.$t('covid_tracker')["totalRecovered"],
                    this.$t('covid_tracker')["totalDeaths"],
                ]
            }
        }
    }
</script>

