<template>
    <div class="relative">
        <v-btn
                href="#"
                width="130px"
                @click="toggleVisibility"
                @keydown.space.exact.prevent="toggleVisibility"
                @keydown.esc.exact="hideDropdown"
                @keydown.shift.tab="hideDropdown"
                @keydown.up.exact.prevent="startArrowKeys"
                @keydown.down.exact.prevent="startArrowKeys"
        >
            <img :src="getImgUrl($i18n.locale)" height="15px" width="20px">
            <span class="ml-2">{{ $i18n.locale.toUpperCase() }}</span>
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path class="heroicon-ui"
                      d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"></path>
            </svg>
        </v-btn>
        <transition name="dropdown-fade">
            <ul v-on-clickaway="hideDropdown" v-if="isVisible" ref="dropdown"
                style="list-style-type: none; padding: 0"
                class="normal-case z-30 font-normal xs:left-0 lg:right-0 bg-white shadow overflow-hidden rounded w-48 border mt-2 py-1 lg:z-20">
                <li>
                    <a
                            href="#"
                            @click.prevent="setLocale('en')"
                            ref="account"
                            style="color: #ecf4f3; text-decoration: none;"
                            class="flex items-center px-3 py-3 hover:bg-gray-200"
                            @keydown.up.exact.prevent=""
                            @keydown.tab.exact="focusNext(false)"
                            @keydown.down.exact.prevent="focusNext(true)"
                            @keydown.esc.exact="hideDropdown"
                    >
                        <img src="@/assets/en.png" alt="english flag" height="15px" width="20px">
                        <span class="ml-2">English</span>
                    </a>
                </li>
                <li>
                    <a
                            href="#"
                            @click.prevent="setLocale('fa')"
                            style="color: #ecf4f3; text-decoration: none;"
                            class="flex items-center px-3 py-3 hover:bg-gray-200"
                            @keydown.shift.tab="focusPrevious(false)"
                            @keydown.up.exact.prevent="focusPrevious(true)"
                            @keydown.down.exact.prevent=""
                            @keydown.tab.exact="hideDropdown"
                            @keydown.esc.exact="hideDropdown"
                    >
                        <img src="@/assets/fa.png" alt="english flag" height="15px" width="20px">
                        <span class="ml-2">فارسی</span>
                    </a>
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
    import {mixin as clickaway} from 'vue-clickaway'

    export default {
        name: "LangSwitcher",
        mixins: [clickaway],
        data() {
            return {
                isVisible: false,
                focusedIndex: 0,
                assetLing: "@/assets/en.png",
            }
        },
        methods: {
            toggleVisibility() {
                this.isVisible = !this.isVisible
            },
            hideDropdown() {
                this.isVisible = false
                this.focusedIndex = 0
            },
            startArrowKeys() {
                if (this.isVisible) {
                    // this.$refs.account.focus()
                    this.$refs.dropdown.children[0].children[0].focus()
                }
            },
            focusPrevious(isArrowKey) {
                this.focusedIndex = this.focusedIndex - 1
                if (isArrowKey) {
                    this.focusItem()
                }
            },
            focusNext(isArrowKey) {
                this.focusedIndex = this.focusedIndex + 1
                if (isArrowKey) {
                    this.focusItem()
                }
            },
            focusItem() {
                this.$refs.dropdown.children[this.focusedIndex].children[0].focus()
            },
            setLocale(locale) {
                this.$store.dispatch('changeLocale', locale);
                this.$i18n.locale = locale;
                this.$router.push({
                    params: {lang: locale}
                })
                this.hideDropdown()
            },
            getImgUrl(locale) {
                var images = require.context('../assets/', false, /\.png$/)
                return images('./' + locale + ".png")
            }
        },
    }
</script>

<style scoped>
</style>