<template>
    <v-card flat v-if="stop === null">
        <v-card-title style="font-weight: bold">{{care['title']}}</v-card-title>
        <v-card-subtitle>{{care['detail']}}</v-card-subtitle>
        <v-card-text>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" lg="6" md="6" sm="12">
                        <v-list>
                            <v-list-item v-for="num in parseInt(this.care['needs']['count'])" :key="num" three-line>
                                <v-list-item-avatar>
                                    <v-avatar color="#57a99a" size="36">
                                        <span class="white--text headline">{{num}}</span>
                                    </v-avatar>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap" style="font-weight: bold">
                                        {{care['needs'][`need${num}`]['title']}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="wrap">
                                        {{care['needs'][`need${num}`]['detail']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-divider></v-divider>
                        <div style="background-color: rgb(238, 237, 242); margin: 5px; padding:20px; border-radius: 25px;"
                             v-if="'no_needs' in this.care">
                            <v-list-item>
                                <v-list-item-avatar>
                                    <v-avatar color="black" size="36">
                                        <v-icon dark>{{icons.mdiClose}}</v-icon>
                                    </v-avatar>
                                </v-list-item-avatar>
                                <v-list-item-content color="#ecf4f3">
                                    <v-list-item-title class="wrap" style="font-weight: bold">
                                        {{care['no_needs']['no_needs1']['title']}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="wrap">{{care['no_needs']['no_needs1']['detail']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                    </v-col>
                    <v-col cols="12" lg="6" md="6" sm="12">
                        <v-list>
                            <v-list-item v-for="(item, index) in this.listAnswer()" :key="index" style="padding-bottom: 10px">
                                <v-list-item-avatar><v-icon>{{item.icon}}</v-icon></v-list-item-avatar>
                                <v-list-item-title class="wrap">{{item.title}}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
    <v-card v-else flat style="margin: 20px">
        <v-card-title style="font-weight: bold; font-size: 28px">{{stop['title']}}</v-card-title>
        <v-card-subtitle style="font-weight: bold; font-size: 18px; padding-top: 20px">{{stop['detail']}}</v-card-subtitle>
        <v-btn v-if="stop['actions']['type'] === 'CallNumber'" large href="tel:115" color="red" style="color: #ecf4f3; font-size: 20px; font-weight: bolder" block>{{stop['actions']['title']}}</v-btn>
        <v-btn v-if="stop['actions']['type'] === 'OpenURL'" large :href="stop['actions']['url']" color="#57a99a" style="color: #ecf4f3; font-size: 20px; font-weight: bolder" block>{{stop['actions']['title']}}</v-btn>
    </v-card>
</template>

<script>
    import {
        mdiClose,
        mdiThermometerAlert,
        mdiThermometerLines,
        mdiAccountStar,
        mdiMapMarker,
        mdiMapMarkerOff,
        mdiEarth,
        mdiAccountMultiplePlus,
        mdiAccountMultipleRemove,
        mdiHomeCity
    } from "@mdi/js"

    export default {
        name: "ResultsDiv",
        props: {
            q1: {
                required: true,
                type: Number
            },
            q2: {
                required: true,
                type: Number
            },
            q3: {
                required: true,
                type: Array
            },
            q4: {
                required: true,
                type: Array
            },
            q5: {
                required: true,
                type: Number
            },
            q6: {
                required: true,
                type: Array
            },
            q7: {
                required: true,
                type: Array
            },
            q8: {
                required: true,
                type: Number
            },
        },
        data() {
            return {
                icons: {
                    mdiClose
                },

            }
        },
        methods: {
            listAnswer() {
                let o = [];
                let a = this.q5 === 1;
                let i = (-1 !== this.q7.indexOf(1) || -1 !== this.q7.indexOf(2));
                let s = (-1 !== this.q6.indexOf(1) || -1 !== this.q6.indexOf(2));
                let n = this.q6.length === 0;
                let l = this.q3.length === 0;
                let h = !(this.q4.length === 0);
                let d = 2 === this.q8 || 3 === this.q8;
                let u = 1 === this.q8;

                l ? o.push({
                    title: this.$t('screening')['result']['summery']['not_symptom'],
                    icon: mdiThermometerLines
                }) : o.push({
                    title: this.$t('screening')['result']['summery']['symptom'],
                    icon: mdiThermometerAlert
                });
                h ? o.push({
                    title: this.$t('screening')['result']['summery']['condition'],
                    icon: mdiAccountStar
                }) : o.push({
                    title: this.$t('screening')['result']['summery']['not_condition'],
                    icon: mdiAccountStar
                });
                a ? o.push({
                    title: this.$t('screening')['result']['summery']['traveled'],
                    icon: mdiMapMarker
                }) : o.push({
                    title: this.$t('screening')['result']['summery']['not_traveled'],
                    icon: mdiMapMarkerOff
                });
                s ? o.push({
                    title: this.$t('screening')['result']['summery']['area'],
                    icon: mdiEarth
                }) : n && o.push({
                    title: this.$t('screening')['result']['summery']['not_area'],
                    icon: mdiEarth
                });
                i ? o.push({
                    title: this.$t('screening')['result']['summery']['exposed'],
                    icon: mdiAccountMultiplePlus
                }) : o.push({
                    title: this.$t('screening')['result']['summery']['not_exposed'],
                    icon: mdiAccountMultipleRemove
                });
                (d || u) ? o.push({
                    title: this.$t('screening')['result']['summery']['facility'],
                    icon: mdiHomeCity
                }) : o.push({
                    title: this.$t('screening')['result']['summery']['not_facility'],
                    icon: mdiHomeCity
                });
                return o
            },
        },
        computed: {
            stop() {
                if (this.q1 === 1) {
                    return this.$t('screening')['result']['stop']['stop_at_risk']
                }
                if (this.q2 === 1) {
                    return this.$t('screening')['result']['stop']['stop_age']
                } else {
                    return null
                }
            },
            care() {
                let self = this;
                let N = function (y, h) {
                    if (y || h) {
                        return self.$t('screening')['result']['care']['care_9']
                    } else {
                        return self.$t('screening')['result']['care']['care_10']
                    }
                };
                let a = this.q5 === 1;
                let i = (-1 !== this.q7.indexOf(1) || -1 !== this.q7.indexOf(2));
                let s = (-1 !== this.q6.indexOf(1) || -1 !== this.q6.indexOf(2));
                let r = a || s || i;
                let l = this.q3.length === 0;
                let c = !(l || -1 !== this.q3.indexOf(1) || -1 !== this.q3.indexOf(2) || -1 !== this.q3.indexOf(3));
                let h = !(this.q4.length === 0);
                let d = 2 === this.q8 || 3 === this.q8;
                let u = 1 === this.q8;
                let y = 3 === this.q2;
                let z = this.$t('screening')['result']['care']['care_4'];
                let D = this.$t('screening')['result']['care']['care_8'];
                let S = this.$t('screening')['result']['care']['care_6'];
                let Y = this.$t('screening')['result']['care']['care_7'];
                let V = this.$t('screening')['result']['care']['care_5'];
                console.log(l ? d ? a || i ? this.$t('screening')['result']['care']['care_1'] : N(y, h) : r ? this.$t('screening')['result']['care']['care_2'] : N(y, h) : r ? (u ? z : d ? D : h || y && !c ? S : !y && c ? Y : V) : d && !l ? c ? this.$t('screening')['result']['care']['care_3'] : D : (u ? z : y ? h ? c ? V : S : c ? Y : V : h ? c ? V : S : Y));
                return l ? d ? a || i ? this.$t('screening')['result']['care']['care_1'] : N(y, h) : r ? this.$t('screening')['result']['care']['care_2'] : N(y, h) : r ? (u ? z : d ? D : h || y && !c ? S : !y && c ? Y : V) : d && !l ? c ? this.$t('screening')['result']['care']['care_3'] : D : (u ? z : y ? h ? c ? V : S : c ? Y : V : h ? c ? V : S : Y)

            }
        }
    }
</script>

<style scoped>
    .wrap {
        -webkit-line-clamp: unset !important;
        white-space: normal;
    }
</style>