<template>
    <v-sheet height="100%" elevation="10"
             :style="{'font-family': $i18n.locale === 'en' ? 'sans-serif' : 'iransans', 'font-size':'18px', 'font-weight': 'bold'}"
             :dir="$i18n.locale === 'en' ? 'ltr' : 'rtl'">
        <v-btn
                absolute
                color="#555151"
                x-small
                fab
                :style="{'color': '#ecf4f3', 'left': `${width-35}px`, 'top':'20px'}"
                @click="$emit('close')"
        >
            <v-icon>{{icons.mdiClose}}</v-icon>
        </v-btn>
        <div style="margin-top: 40px">
            <v-card v-for="(item, index) in results" :key="index" height="140px" style="margin-bottom: 20px"
                    elevation="5">
                <v-card-title>
                    <v-icon>{{icons.mdiClock}}</v-icon>
                    <span style="padding-left: 20px; padding-right: 20px">{{item.dateTime | formatDate}}</span>
                </v-card-title>
                <v-card-subtitle style="padding-right: 60px; padding-left: 60px; font-weight: bold">
                    {{care(index)['title']}}
                </v-card-subtitle>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn large text style="font-weight: bold; color: #57a99a" @click="openDetails(item)">
                        {{$t('screening')['result']['view_detail']}}
                    </v-btn>
                </v-card-actions>

            </v-card>
        </div>

        <v-bottom-sheet v-model="sheetDetail" fullscreen persistent>
            <ShowScreeningResultDetail :width="windowSize.width" @close="sheetDetail = false" :result-obj="item" style="overflow-y: scroll"/>
        </v-bottom-sheet>

    </v-sheet>

</template>

<script>
    import {
        mdiClose,
        mdiClock
    } from '@mdi/js'
    import ShowScreeningResultDetail from "./ShowScreeningResultDetail";

    export default {
        name: "ResultBottomSheet",
        components: {ShowScreeningResultDetail},
        props: {
            width: {
                required: true,
                type: Number,
            }
        },
        data() {
            return {
                icons: {
                    mdiClose,
                    mdiClock
                },
                sheetDetail: false,
                windowSize: {
                    width: 0,
                    height: 0
                },
                item:{},
            }
        },
        created() {
            this.$store.dispatch('getResults');
            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            openDetails(item){
                this.item = item;
                this.sheetDetail = true;
            },
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            },
            care(index) {
                let self = this;
                let N = function (y, h) {
                    if (y || h) {
                        return self.$t('screening')['result']['care']['care_9']
                    } else {
                        return self.$t('screening')['result']['care']['care_10']
                    }
                };
                let a = this.results[index]['answers'].q5 === 1;
                let i = (-1 !== this.results[index]['answers'].q7.indexOf(1) || -1 !== this.results[index]['answers'].q7.indexOf(2));
                let s = (-1 !== this.results[index]['answers'].q6.indexOf(1) || -1 !== this.results[index]['answers'].q6.indexOf(2));
                let r = a || s || i;
                let l = this.results[index]['answers'].q3.length === 0;
                let c = !(l || -1 !== this.results[index]['answers'].q3.indexOf(1) || -1 !== this.results[index]['answers'].q3.indexOf(2) || -1 !== this.results[index]['answers'].q3.indexOf(3));
                let h = !(this.results[index]['answers'].q4.length === 0);
                let d = 2 === this.results[index]['answers'].q8 || 3 === this.results[index]['answers'].q8;
                let u = 1 === this.results[index]['answers'].q8;
                let y = 3 === this.results[index]['answers'].q2;
                let z = this.$t('screening')['result']['care']['care_4'];
                let D = this.$t('screening')['result']['care']['care_8'];
                let S = this.$t('screening')['result']['care']['care_6'];
                let Y = this.$t('screening')['result']['care']['care_7'];
                let V = this.$t('screening')['result']['care']['care_5'];
                return l ? d ? a || i ? this.$t('screening')['result']['care']['care_1'] : N(y, h) : r ? this.$t('screening')['result']['care']['care_2'] : N(y, h) : r ? (u ? z : d ? D : h || y && !c ? S : !y && c ? Y : V) : d && !l ? c ? this.$t('screening')['result']['care']['care_3'] : D : (u ? z : y ? h ? c ? V : S : c ? Y : V : h ? c ? V : S : Y)

            }
        },
        computed: {
            results() {
                return this.$store.state.screening.results
            }
        }
    }
</script>

<style scoped>

</style>