<template>
    <v-sheet height="100%" elevation="10"
             :style="{'font-family': $i18n.locale === 'en' ? 'sans-serif' : 'iransans', 'font-size':'18px', 'font-weight': 'bold'}"
             :dir="$i18n.locale === 'en' ? 'ltr' : 'rtl'"
    >
        <v-btn
                absolute
                color="#555151"
                x-small
                fab
                :style="{'color': '#ecf4f3', 'left': `${width-35}px`, 'top':'20px'}"
                @click="$emit('close')"
        >
            <v-icon>{{icons.mdiClose}}</v-icon>
        </v-btn>
        <div style="margin: 50px" id="myDiv">
            <v-img src="@/assets/screening.png" contain height="250px"></v-img>
                <v-card v-if="e6 === 1" >
                    <v-card class="mb-12" flat>
                        <v-card-title>{{$t('screening')['title']}}</v-card-title>
                        <v-list>
                            <v-list-item three-line>
                                <v-list-item-avatar>
                                    <v-icon x-large color="#57a99a">{{icons.mdiFormatListBulleted}}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['start_desc_first']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list-item three-line>
                                <v-list-item-avatar>
                                    <v-icon x-large color="#57a99a">{{icons.mdiHandRight}}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['start_desc_second']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>

                            <v-divider></v-divider>

                            <v-list-item three-line>
                                <v-list-item-avatar>
                                    <v-icon x-large color="#57a99a">{{icons.mdiCheckboxMarkedCircle}}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['start_desc_third']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                    <v-btn color="#57a99a" @click="e6 = 2" style="color: #ecf4f3;">{{$t('screening')['continue']}}
                    </v-btn>
                    <v-btn text @click="cancel">{{$t('screening')['cancel']}}</v-btn>
                </v-card>

                <v-card v-if="e6 === 2">
                    <v-card class="mb-12" flat>
                        <v-icon large color="red">{{icons.mdiHospitalBox}}</v-icon>
                        <v-card-title>{{$t('screening')['first_step']['before_start']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['first_step']['alert']}}</v-card-subtitle>
                        <v-card-text>
                            <ul>
                                <li>{{$t('screening')['first_step']['symptom1']}}</li>
                                <li>{{$t('screening')['first_step']['symptom2']}}</li>
                                <li>{{$t('screening')['first_step']['symptom3']}}</li>
                                <li>{{$t('screening')['first_step']['symptom4']}}</li>
                                <li>{{$t('screening')['first_step']['symptom5']}}</li>
                            </ul>
                        </v-card-text>
                        <v-list>
                            <v-list-item @click="q1next(1)" two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap">{{$t('screening')['first_step']['answer1']}}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider/>
                            <v-list-item @click="q1next(2)" two-line>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap">{{$t('screening')['first_step']['answer2']}}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>

                        </v-list>
                    </v-card>
                    <v-btn text @click="cancel" id="step2">{{$t('screening')['cancel']}}</v-btn>
                </v-card>

                <v-card v-if="e6===3">
                    <v-card flat class="mb-12">
                        <v-card-title>{{$t('screening')['second_step']['question']}}</v-card-title>
                        <v-list>
                            <v-list-item @click="q2next(1)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['second_step']['answer1']}}
                                </v-list-item-title>
                            </v-list-item>

                            <v-list-item @click="q2next(2)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['second_step']['answer2']}}
                                </v-list-item-title>
                            </v-list-item>

                            <v-list-item @click="q2next(3)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['second_step']['answer3']}}
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-card>
                    <v-btn text @click="previousQuestion"  id="step3">{{$t('screening')['previous_question']}}</v-btn>
                </v-card>

                <v-card v-if="e6===4">
                    <v-card class="mb-12" flat>
                        <v-card-title>{{$t('screening')['third_step']['question']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['no_answer']}}</v-card-subtitle>
                        <v-list shaped>
                            <v-list-item-group
                                    v-model="q3"
                                    multiple
                            >
                                <v-list-item
                                        :key="1"
                                        :value="1"
                                        two-line

                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer1']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="1"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="2"
                                        :value="2"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer2']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="2"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="3"
                                        :value="3"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer3']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="3"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="4"
                                        :value="4"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer4']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="4"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="5"
                                        :value="5"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer5']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="5"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="6"
                                        :value="6"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['third_step']['answer6']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="6"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                    <v-btn color="#57a99a" @click="q3Next" style="color: #ecf4f3;" id="step4">{{$t('screening')['continue']}}
                    </v-btn>
                    <v-btn text @click="previousQuestion">{{$t('screening')['previous_question']}}</v-btn>

                </v-card>

                <v-card v-if="e6===5">
                    <v-card class="mb-12" flat>
                        <v-card-title>{{$t('screening')['fourth_step']['question']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['fourth_step']['subtitle']}}</v-card-subtitle>
                        <v-card-subtitle>{{$t('screening')['no_answer']}}</v-card-subtitle>


                        <v-list shaped>
                            <v-list-item-group
                                    v-model="q4"
                                    multiple
                            >
                                <v-list-item
                                        :key="1"
                                        :value="1"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer1']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="1"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="2"
                                        :value="2"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer2']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="2"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="3"
                                        :value="3"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer3']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="3"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="4"
                                        :value="4"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer4']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="4"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="5"
                                        :value="5"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer5']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="5"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="6"
                                        :value="6"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer6']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="6"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="7"
                                        :value="7"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer7']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="7"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="8"
                                        :value="8"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer8']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="8"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="9"
                                        :value="9"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['fourth_step']['answer9']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="9"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                    <v-btn color="#57a99a" @click="q4Next" style="color: #ecf4f3;"  id="step5">{{$t('screening')['continue']}}
                    </v-btn>
                    <v-btn text @click="previousQuestion">{{$t('screening')['previous_question']}}</v-btn>

                </v-card>

                <v-card v-if="e6===6">
                    <v-card flat class="mb-12">
                        <v-card-title>{{$t('screening')['fifth_step']['question']}}</v-card-title>
                        <v-list>
                            <v-list-item @click="q5Next(1)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['fifth_step']['answer1']}}
                                </v-list-item-title>
                            </v-list-item>

                            <v-list-item @click="q5Next(2)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['fifth_step']['answer2']}}
                                </v-list-item-title>
                            </v-list-item>

                        </v-list>
                    </v-card>
                    <v-btn text @click="previousQuestion" id="step6">{{$t('screening')['previous_question']}}</v-btn>
                </v-card>

                <v-card v-if="e6 === 7">
                    <v-card class="mb-12" flat>
                        <v-card-title>{{$t('screening')['sixth_step']['question']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['no_answer']}}</v-card-subtitle>
                        <v-list shaped>
                            <v-list-item-group
                                    v-model="q6"
                                    multiple
                            >
                                <v-list-item
                                        :key="1"
                                        :value="1"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['sixth_step']['answer1']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="1"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="2"
                                        :value="2"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['sixth_step']['answer2']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="2"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="3"
                                        :value="3"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">{{$t('screening')['sixth_step']['answer3']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="3"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                    <v-btn color="#57a99a" @click="q6Next" style="color: #ecf4f3;"  id="step7">{{$t('screening')['continue']}}
                    </v-btn>
                    <v-btn text @click="previousQuestion">{{$t('screening')['previous_question']}}</v-btn>

                </v-card>

                <v-card v-if="e6 === 8">
                    <v-card class="mb-12" flat>
                        <v-card-title>{{$t('screening')['seventh_step']['question']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['no_answer']}}</v-card-subtitle>
                        <v-list shaped>
                            <v-list-item-group
                                    v-model="q7"
                                    multiple
                            >
                                <v-list-item
                                        :key="1"
                                        :value="1"
                                        two-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['seventh_step']['answer1']}}
                                            </v-list-item-title>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="1"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="2"
                                        :value="2"
                                        three-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['seventh_step']['answer2']}}
                                            </v-list-item-title>
                                            <v-list-item-subtitle class="wrap">
                                                {{$t('screening')['seventh_step']['answer2_subtitle']}}
                                            </v-list-item-subtitle>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="2"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>

                                <v-list-item
                                        :key="3"
                                        :value="3"
                                        three-line
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-content>
                                            <v-list-item-title class="wrap">
                                                {{$t('screening')['seventh_step']['answer3']}}
                                            </v-list-item-title>
                                            <v-list-item-subtitle class="wrap">
                                                {{$t('screening')['seventh_step']['answer3_subtitle']}}
                                            </v-list-item-subtitle>
                                        </v-list-item-content>

                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="3"
                                                    color="#57a99a"
                                                    @click="toggle"
                                                    :on-icon="icons.mdiCheckboxMarked"
                                                    :off-icon="icons.mdiCheckboxBlank"
                                            ></v-checkbox>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                    <v-btn color="#57a99a" @click="q7Next" style="color: #ecf4f3;" id="step8">{{$t('screening')['continue']}}
                    </v-btn>
                    <v-btn text @click="previousQuestion">{{$t('screening')['previous_question']}}</v-btn>

                </v-card>

                <v-card v-if="e6 === 9">
                    <v-card flat class="mb-12">
                        <v-card-title>{{$t('screening')['eighth_step']['question']}}</v-card-title>
                        <v-card-subtitle>{{$t('screening')['eighth_step']['subtitle']}}</v-card-subtitle>
                        <v-list>
                            <v-list-item @click="q8Next(1)" three-line>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap">{{$t('screening')['eighth_step']['answer1']}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['eighth_step']['answer1_subtitle']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>

                            <v-list-item @click="q8Next(2)" three-line>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap">{{$t('screening')['eighth_step']['answer2']}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['eighth_step']['answer2_subtitle']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>

                            <v-list-item @click="q8Next(3)" three-line>
                                <v-list-item-content>
                                    <v-list-item-title class="wrap">{{$t('screening')['eighth_step']['answer3']}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="wrap">
                                        {{$t('screening')['eighth_step']['answer3_subtitle']}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>

                            <v-list-item @click="q8Next(4)" two-line>
                                <v-list-item-title class="wrap">{{$t('screening')['eighth_step']['answer4']}}
                                </v-list-item-title>
                            </v-list-item>

                        </v-list>
                    </v-card>
                    <v-btn text @click="previousQuestion" id="step9">{{$t('screening')['previous_question']}}</v-btn>
                </v-card>

                <v-card v-if="e6 === 10">
                        <v-skeleton-loader
                                ref="skeleton"
                                :boilerplate="false"
                                type="card"
                                :tile="false"
                                class="mx-auto"
                                v-if="postStatus === 'loading'"
                        ></v-skeleton-loader>
                        <ResultsDiv :q1="test.q1" :q2="test.q2" :q3="q3" :q4="q4" :q5="test.q5" :q6="q6" :q7="q7"
                                    :q8="test.q8" v-else-if="e6===10"></ResultsDiv>
                    <v-btn color="#57a99a" @click="e6 = 1" style="color: #ecf4f3;" >{{$t('screening')['restart']}}</v-btn>
                </v-card>

        </div>

    </v-sheet>
</template>

<script>
    import {
        mdiClose,
        mdiFormatListBulleted,
        mdiHandRight,
        mdiCheckboxMarkedCircle,
        mdiHospitalBox,
        mdiCheckboxBlank,
        mdiCheckboxMarked
    } from '@mdi/js'
    import ResultsDiv from "./ResultsDiv";

    export default {
        name: "ScreeningBottomSheet",
        components: {ResultsDiv},
        props: {
            width: {
                required: true,
                type: Number,
            },
            height: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                q3: [],
                q4: [],
                q6: [],
                q7: [],
                icons: {
                    mdiClose,
                    mdiFormatListBulleted,
                    mdiHandRight,
                    mdiCheckboxMarkedCircle,
                    mdiHospitalBox,
                    mdiCheckboxBlank,
                    mdiCheckboxMarked
                },
                e6: 1,
                test: {
                    q1: 0,
                    q2: 0,
                    q5: 0,
                    q8: 0,
                }
            }
        },
        computed: {
            postStatus() {
                return this.$store.state.screening.screeningPostStatus
            },
            result() {
                return this.$store.state.screening.results
            }
        },
        methods: {
            cancel() {
                this.e6 = 1;
                this.test.q1 = 0;
                this.test.q2 = 0;
                this.test.q5 = 0;
                this.test.q8 = 0;
                this.q3 = 0;
                this.q4 = 0;
                this.q6 = 0;
                this.q7 = 0;
                this.$emit('close')
            },

            previousQuestion() {
                this.e6 = this.e6 - 1;
            },
            restart() {
                this.e6 = 1;
                this.test.q1 = 0;
                this.test.q2 = 0;
                this.test.q5 = 0;
                this.test.q8 = 0;
                this.q3 = 0;
                this.q4 = 0;
                this.q6 = 0;
                this.q7 = 0
            },
            q1next(val) {
                this.test.q1 = val;
                if (val === 1) {
                    this.e6 = 10;
                } else {
                    this.e6 = 3;
                }
            },
            q2next(val) {
                this.test.q2 = val;
                if (val === 1) {
                    this.e6 = 10;
                } else {
                    this.e6 = 4;
                }
            },
            q3Next() {
                this.e6 = 5;
            },
            q4Next() {
                this.e6 = 6;
            },
            q5Next(val) {
                this.test.q5 = val;
                this.e6 = 7;
            },
            q6Next() {
                this.e6 = 8;
            },
            q7Next() {
                this.e6 = 9;
            },
            q8Next(val) {
                this.test.q8 = val;
                this.e6 = 10;
                this.$store.dispatch('postScreeningData', {
                    'q1': this.test.q1,
                    'q2': this.test.q2,
                    'q3': this.q3,
                    'q4': this.q4,
                    'q5': this.test.q5,
                    'q6': this.q6,
                    'q7': this.q7,
                    'q8': this.test.q8
                })
            }
        }
    }
</script>

<style scoped>
    .wrap {
        -webkit-line-clamp: unset !important;
        white-space: normal;
    }
</style>