<template>
    <v-sheet height="100%" elevation="10"
             :style="{'font-family': $i18n.locale === 'en' ? 'sans-serif' : 'iransans', 'font-size':'18px', 'font-weight': 'bold'}"
             :dir="$i18n.locale === 'en' ? 'ltr' : 'rtl'">
        <v-btn
                absolute
                color="#555151"
                x-small
                fab
                :style="{'color': '#ecf4f3', 'left': `${width-35}px`, 'top':'20px'}"
                @click="$emit('close')"
        >
            <v-icon>{{icons.mdiClose}}</v-icon>
        </v-btn>
        <div style="margin-top: 40px">
            <ResultsDiv :q1="resultObj['answers'].q1" :q2="resultObj['answers'].q2" :q3="resultObj['answers'].q3" :q4="resultObj['answers'].q4" :q5="resultObj['answers'].q5" :q6="resultObj['answers'].q6" :q7="resultObj['answers'].q7" :q8="resultObj['answers'].q8" />
        </div>

    </v-sheet>

</template>

<script>
    import {
        mdiClose,
    } from '@mdi/js'
    import ResultsDiv from "./ResultsDiv";

    export default {
        name: "ShowScreeningResultDetail",
        components: {ResultsDiv},
        props: {
            width: {
                required: true,
                type: Number,
            },
            resultObj: {
                required: true,
                type: Object,
            }
        },
        data() {
            return {
                icons: {
                    mdiClose
                },
            }
        },
    }
</script>

<style scoped>

</style>