<template>
    <v-sheet height="100%" elevation="10"
             :style="{'font-family': $i18n.locale === 'en' ? 'sans-serif' : 'iransans', 'font-size':'18px', 'font-weight': 'bold'}"
             :dir="$i18n.locale === 'en' ? 'ltr' : 'rtl'">
        <v-btn
                absolute
                color="#555151"
                x-small
                fab
                :style="{'color': '#ecf4f3', 'left': `${width-35}px`, 'top':'5px'}"
                @click="$emit('close')"
        >
            <v-icon>{{icons.mdiClose}}</v-icon>
        </v-btn>
        <div style="margin: 20px; color: #555151">
            <h1 style="color: #57a99a">
                {{item['is_covid'] ? $t('show_case')['have_covid'] : $t('show_case')['dont_have_covid']}}
            </h1>
            <h3>{{$t('show_case')['age']}}: {{item['age']}}</h3>
            <template v-if="item['symptoms'].length !== 0">
                <h4>{{$t('show_case')['symptoms']}}:</h4>

                <ul>
                    <li v-for="symptom in item['symptoms']" :key="symptom['symptom_name']"
                        style="font-size: 18px; font-weight: bold">
                        {{symptom['symptom_name']}}
                    </li>
                </ul>
            </template>
            <ul>
                <li><h4>{{$t('add_case')['lymphocytopenia']}} <span style="color: #57a99a"
                                                                    v-if="item['lymphocytopenia']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['crp']}} <span style="color: #57a99a" v-if="item['crp']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['ldh']}} <span style="color: #57a99a" v-if="item['ldh']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['esr']}} <span style="color: #57a99a" v-if="item['esr']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['d-dimer']}} <span style="color: #57a99a" v-if="item['d_dimer']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['albumin']}} <span style="color: #57a99a" v-if="item['albumin']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
                <li><h4>{{$t('add_case')['hemoglobin']}} <span style="color: #57a99a" v-if="item['hemoglobin']">{{$t('show_case')['yes']}}</span>
                    <span style="color: red" v-else>{{$t('show_case')['no']}}</span></h4></li>
            </ul>
            <v-container fluid>
                <v-row>
                    <v-col v-if="item['x_ray'] !== null" cols="12" sm="12" lg="6" md="6">
                        <h4 style="margin-bottom: 30px">{{$t('show_case')['have_x-ray']}}</h4>
                        <v-img :src="item['x_ray']" max-height="600" contain></v-img>
                    </v-col>
                    <v-col v-else  sm="12" lg="6" md="6">
                        <h4>{{$t('show_case')['dont_have_x-ray']}}</h4>
                    </v-col>
                    <v-col v-if="item['ct_scan'] !== null" sm="12" lg="6" md="6">
                        <h4 style="margin-bottom: 30px">{{$t('show_case')['have_ct_scan']}}</h4>
                        <v-img :src="item['ct_scan']" max-height="600" contain></v-img>
                    </v-col>
                    <v-col v-else  sm="12" lg="6" md="6">
                        <h4>{{$t('show_case')['dont_have_ct_scan']}}</h4>
                    </v-col>
                </v-row>
            </v-container>

        </div>

    </v-sheet>
</template>

<script>
    import {
        mdiClose
    } from '@mdi/js'

    export default {
        name: "ShowCompleteCase",
        props: {
            width: {
                required: true,
                type: Number,
            },
            item: {
                required: true,
                type: Object,
            }
        },
        data() {
            return {
                icons: {
                    mdiClose
                }
            }
        }
    }
</script>

<style scoped>
    li {
        padding: 8px;
    }
</style>