<template>
    <div>
        <v-app-bar
                src="@/assets/covid-img.jpg"
                prominent
                fade-img-on-scroll
                shrink-on-scroll
                dark
                color="#555151"
                height="100px"
        >
            <template v-slot:img="{ props }">
                <v-img
                        v-bind="props"
                        gradient="to top right, rgba(0,0,0,.3), rgba(0,0,0,.8)"
                ></v-img>
            </template>
            <div style="padding-top: 25px">
                <v-btn icon color="#ecf4f3" @click="navShow = !navShow">
                    <v-icon size="30px">{{icons.mdiMenu}}</v-icon>
                </v-btn>
            </div>
            <v-spacer></v-spacer>
            <div style="background-color: rgb(0, 0, 0); margin-top: 25px">
                <lang-switcher/>
            </div>

        </v-app-bar>
        <v-navigation-drawer
                v-model="navShow"
                absolute
                temporary
                dark
        >
            <v-list-item>
                <v-list-item-avatar v-if="profile !== null ">
                    <v-avatar color="#57a99a"><span style="color: #ecf4f3">{{profile[0]}}</span></v-avatar>
                </v-list-item-avatar>


                <v-list-item-content>
                    <v-list-item-title v-if="profile !== null">
                        {{profile}}
                    </v-list-item-title>
                    <v-list-item-title v-else>
                        <v-list-item @click="goToLogin">
                            <v-list-item-icon>
                                <v-icon>{{ icons.mdiLogin }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title style="font-weight: bold; font-size: 20px">{{ $t('login')['login']
                                    }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>

            <v-list nav>
                <v-btn block light @click="logout" v-if="profile !== null">
                    <v-list-item-icon>
                        <v-icon>{{ icons.mdiLogout }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content style="padding: 0">
                        <v-list-item-title style="font-size: 16px">{{ $t('login')['logout'] }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-btn>

            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import LangSwitcher from "./LangSwitcher";
    import {
        mdiMenu,
        mdiLogout,
        mdiLogin,
    } from '@mdi/js'
    import {AUTH_LOGOUT} from "../store/actions/auth";

    export default {
        name: "TopSidePanel",
        components: {
            LangSwitcher,
        },
        data: function () {
            return {
                navShow: false,
                icons: {
                    mdiMenu,
                    mdiLogout,
                    mdiLogin
                },
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch(AUTH_LOGOUT)
                    .then(() => {
                        this.$router.push(`/${this.$i18n.locale}/login`)
                    })
            },
            goToLogin: function () {
                this.$router.push(`/${this.$i18n.locale}/login`)
            }
        },
        computed: {
            profile() {
                return this.$store.getters.getProfile
            }
        },
    }
</script>

<style scoped>

    /deep/ .v-btn__content {
        height: 36px;
    }

    /deep/ .v-list-item__icon {
        margin: 0;
        margin-top: 8px;
    }
</style>
