<template>
    <apexchart type=line height=250 width=100% ref="chart" :options="chartOptions"
               :series="series"></apexchart>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts';

    export default {
        name: "WorldChart",
        components: {
            apexchart: VueApexCharts
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        toolbar: {
                            show: false,
                            autoSelected: 'selection'
                        },
                        height: 350,
                        type: "line",
                        stacked: false
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ["#57a99a", "#555151"],
                    grid: {
                        show: false,
                    },
                    stroke: {
                        width: [4, 4]
                    },
                    plotOptions: {
                        bar: {
                            columnWidth: "20%"
                        }
                    },
                    xaxis: {
                        type: 'datetime'
                    },
                    yaxis:
                        {
                            axisTicks: {
                                show: false
                            },
                            axisBorder: {
                                show: true,
                                color: "#555151"
                            },
                            labels: {
                                style: {
                                    colors: "#555151",
                                }
                            },
                            title: {
                                text: this.$t('covid_tracker')['legend_y'],
                                style: {
                                    color: "#555151",
                                    fontFamily: this.$i18n.locale === 'fa' ? "iransans" : "sans-serif",
                                    fontWeight: 800,
                                    fontSize: '18px',
                                }
                            }
                        },
                    tooltip: {
                        enabled: true,
                        style: {
                            color: "#555151",
                            fontFamily: this.$i18n.locale === 'fa' ? "iransans" : "sans-serif",
                            fontWeight: 800,
                            fontSize: '16px',
                        }
                    },
                    legend: {
                        fontFamily: this.$i18n.locale === 'fa' ? "iransans" : "sans-serif",
                        horizontalAlign: "left",
                        fontWeight: 800,
                        fontSize: '16px',
                        offsetX: 40
                    },

                },
                series: [],
            }
        },
        computed: {
            worldChartDataTotal() {
                return this.$store.state.statistics.worldChartDataTotal
            },
            worldChartDataFatal() {

                return this.$store.state.statistics.worldChartDataFatal
            },
            locale() {
                return this.$store.state.user.locale
            }
        },
        created() {
            if(this.worldChartDataFatal !== [] && this.worldChartDataTotal !== []) {
                this.series = [
                    {
                        name: this.$t('covid_tracker')['totalConfirmed'],
                        data: this.worldChartDataTotal,
                    },
                    {
                        name: this.$t('covid_tracker')['totalDeaths'],
                        data: this.worldChartDataFatal,
                    }];
            }
        },
        watch: {
            locale: function (newLocale) {
                console.log(newLocale);
                this.$refs.chart.updateSeries([
                    {
                        name: this.$t('covid_tracker')['totalConfirmed'],
                        data: this.worldChartDataTotal,
                    },
                    {
                        name: this.$t('covid_tracker')['totalDeaths'],
                        data: this.worldChartDataFatal,
                    }]);
                this.$refs.chart.updateOptions(
                    {
                        legend: {
                            fontFamily: newLocale === 'fa' ? "iransans" : "sans-serif"
                        },
                        tooltip: {
                            style: {
                                fontFamily: newLocale === 'fa' ? "iransans" : "sans-serif"
                            }
                        },
                        yaxis: {
                            title: {
                                text: this.$t('covid_tracker')['legend_y'],
                                style: {
                                    fontFamily: newLocale === 'fa' ? "iransans" : "sans-serif"
                                }
                            }
                        }
                    }
                )
            }
        },

    }
</script>

<style scoped>

</style>