<template>
    <v-app style="overflow-y: hidden">
        <top-side-panel :class="$i18n.locale"/>
        <div :style="{'height': `${windowSize.height - 150}px`, 'width': `${windowSize.width}`, 'overflow-y': 'scroll', 'overflow-x': 'hidden'}"
             :dir="dir">
                <router-view :class="$i18n.locale"></router-view>
        </div>
        <bottom-nav :class="$i18n.locale"/>
    </v-app>
</template>

<script>
    import TopSidePanel from "@/components/TopSidePanel";
    import BottomNav from "@/components/BottomNav";
    import axios from "axios"
    import {AUTH_LOGOUT} from "./store/actions/auth";
    import {USER_REQUEST} from "./store/actions/user";

    export default {
        name: 'App',
        components: {
            TopSidePanel,
            BottomNav
        },

        data: function () {
            return {
                dir: this.$i18n.locale === "en" ? 'ltr' : 'rtl',
                windowSize: {
                    width: 0,
                    height: 0
                }
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
            if (this.$store.getters.isAuthenticated) {
                this.$store.dispatch(USER_REQUEST);
            }
            this.$store.dispatch('getSymptoms');
            axios.interceptors.response.use(undefined, function (err) {
                return new Promise(function () {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        // if you ever get an unauthorized, logout the user
                        this.$store.dispatch(AUTH_LOGOUT)
                        // you can also redirect to /login if needed !
                    }
                    throw err;
                });
            });
            this.$store.dispatch('getStatisticsData');
            this.$store.dispatch('getWorldChartData');
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth;
                this.windowSize.height = window.innerHeight;
            }
        },
        computed: {
            locale() {
                return this.$store.state.user.locale
            },
        },
        watch: {
            locale(newVal) {
                if (newVal === 'en') {
                    this.dir = 'ltr'
                }
                if (newVal === 'fa') {
                    this.dir = 'rtl'
                }
            }
        },
    };
</script>

<style>
    @import "assets/fonts/fonts.css";

    .en {
        font-family: sans-serif;
    }

    .fa {
        font-family: iransans, sans-serif;
    }
</style>
